<div id="fourthquater">
	<div class="container">
		<div class="row fadeinleft">
			<div class="col-md-3">
			<h4 class="tophai">Navigation</h3>
			<ul class="navbar-nav">
				<li><a class="lastwala" href="/">Home</a></li>
				<li><a href="/about" class="lastwala">About</a></li>
				<li><a href="/products"  class="lastwala">Products</a></li>
				<li><a href="/contact"  class="lastwala">Contact Us</a></li>
			</ul>
			</div>
			<!-- <div class="col-md-3">
				<h3 class="tophai">Follows</h3>
				<ul class="navbar-nav">
					<li class="lastwala"><i class="fab fa-twitter"></i> Twitter</li>
					<li class="lastwala"><i class="fab fa-facebook-square"></i> Facebook</li>
					<li class="lastwala"><i class="fab fa-instagram"></i> Instagram</li>
				</ul>
			</div> -->
			<div class="col-md-3">
				<h4 class="tophai">Our Location</h3>
				<ul class="navbar-nav">
					<li><a class="lastwala" href="https://maps.app.goo.gl/pyoMrCpaQfDCvLV57"><i class="fas fa-home"></i> 413 , JAYDEEP EMPHASIS, PLOT NO: A-9.MIDC, WAGLE IND. ESTATE, NEAR MULUND CHECKNAKA, NEXT TO DATT MANDIR, THANE(W) . PIN : 400604.</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="tophai"><i class="fas fa-mobile-alt"></i> TELEPHONE</h3>
				<ul class="navbar-nav">
					<li><a class="lastwala" href="tel:022-49246698">022-49246698</a></li>
					<li><a class="lastwala" href="tel:022-49248877">022-49248877</a></li>
					<li><a class="lastwala" href="tel:+91-9821467641">+91-9821467641</a></li>
					<li><a class="lastwala" href="tel:+91-922 343 3395">+91-922 343 3395</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="tophai"><i class="fas fa-envelope"></i> EMAIL</h3>
				<ul class="navbar-nav">
					<li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=pvgchemical@gmail.com" target="_blank" class="lastwala" id="email">pvgchemical@gmail.com</a></li>
					<li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=pvgchemicals@gmail.com" target="_blank" class="lastwala" id="email">pvgchemicals@gmail.com</a></li>	
				</ul>
			</div>
					
			<div class="row">
				<div class="col-xs-12">
					<h4 id="copyright">2010 © P.V.G Chemical</h4>
				</div>
			</div>

		</div>
	</div>	
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/dadwebsiteattempt1.js"></script>

</body>
</html>