<!DOCTYPE html>
<html>
<head>
	<title>P.V.G Chemicals</title>
	<link rel="stylesheet" type="text/css" href="/dadwebsiteattempt1.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/b904f87062.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<div id="firstquater"> 
	<div class="container">
	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand" id="hang" href="/" ><div class="dadlogo"></div></a>
	  <button class="navbar-toggler" id="nohang" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li></li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
		  <ul class="navbar-nav navbar-right">
			  <li class="nav-item active">
				<a class="nav-link redbutton" id="homebutton" href="/">Home<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link redbutton" href="/about">About <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link redbutton" href="/products">Products <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link redbutton" href="/contact" id="spaceomit">Contact <span class="sr-only">(current)</span></a>
			  </li>
	
		  </ul>
		</form>
	  </div>
	</nav>
<!-- 
	<div>
		<div class="row">
			<div class="col-xs-4">
				<img class="naam" src="images/1.png">
			</div>
			<div class="col-xs-8">
				<img class="naam" src="images/3.png">
			</div> -->

		</div>
	</div>
	
	
	</div>
	</div>
<body>
	
	