<%- include("partials/header") %>


<div class="container">
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/" ><i class="fab fa-angellist dadlogo"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	<li></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav navbar-right">
      	<li class="nav-item active">
        	<a class="nav-link redbutton" id="homebutton" href="/">Home<span class="sr-only">(current)</span></a>
      	</li>
      	<li class="nav-item active">
        	<a class="nav-link redbutton" href="/about">About <span class="sr-only">(current)</span></a>
      	</li>
      	<li class="nav-item active">
        	<a class="nav-link redbutton" href="/products">Products <span class="sr-only">(current)</span></a>
      	</li>
      	<li class="nav-item active">
        	<a class="nav-link redbutton" href="/contact" id="spaceomit">Contact <span class="sr-only">(current)</span></a>
      	</li>

      </ul>
    </form>
  </div>
</nav>










<%- include("partials/footer") %>