<%- include("partials/header") %>

<div id="secondquater" class="div1">
	<div class="container">
		<div id="firstgrid" class="row align-items-center no-gutters">
    		<div class="col-md-9">
    			<div class="row align-items-center">
 					<div class="col-md-5 gridspace">
 						<h1 class="fadein1">Welcome</h1>
 					</div>   	
 					<div class="col-md-7 gridspace">
 						Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolores, delectus eligendi a necessitatibus in sint vitae suscipit nihil explicabo reprehenderit ad nobis voluptas tempora officiis neque distinctio dolore libero? 
 					</div>
    			</div>
    		</div>
    		<div class="col-md-3 gridspace">
      			<button type="button" class="btn btn-danger yolo">Read More</button>
    		</div>
  		</div>
  		<div id="secondgrid" class="row align-items-center no-gutters">
    		<div class="col-md-4 col-xs-8 gridspace">
    			<img class="img1 fadein2" src="https://www.pcc-ltd.com/hs-fs/hubfs/Chemical%20Barrel%20Page/chemical-drum-labels-various.jpg?width=750&name=chemical-drum-labels-various.jpg">
    		</div>
    		<div class="col-md-8 col-xs-8 fadein2" id="lore">
    			With our professional approach and association with well recognized vendors, we have achieved overwhelming success in the market. Further, our organization is located in Mumbai with advanced facilities and regularly availability of stock. Under the guidance of our Mentor, <strong>Mr. Vipul Gandhi</strong>, we have established a strong position in the market.
    		</div>
  		</div>
	</div>
</div>
<div id="thirdquater" class="div1">
	<div class="container">
		<div class="row align-items-left">
			<div class="col-md-4">
				<h3 class="allcaps">Product Categories</h3>
				<ul class="navbar-nav fadein3">
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Fragrances and Flavours</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals for API , Formulation and speciality chemical IND.</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Paints,Polymers,Resins and Dyestuff IND</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Food and Fertilizer IND</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Textile Auxilaries , Monomers and Adhesives</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Maintainace of Plant and Machines.</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Water Treatment IND</a></li>
				</ul>
			</div>
			<div class="col-md-4" id="spaceblank">
				<ul class="navbar-nav fadein3">
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Miscellaneous Chemicals</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For PVC and Rubber Ind.</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Essential OILS</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> General Imported and Indian Product List</a></li>
				</ul>
			</div>
			<div class="col-md-4 fadein3">
				<h3 id="linespacede" class="allcaps">About Us</h3>
				<h5 id="linespacede" class="allcaps">P.V.G Chemicals</h5>
				<img id="linespacede" class="img2" src="https://static.turbosquid.com/Preview/2017/01/09__19_06_03/001.jpg813446EB-77A9-4AD9-B762-76C233B38B17Original.jpg">
				<p id="linespacede">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ab, eveniet in sit quia id accusamus vel commodi? Quisquam animi quo ad quaerat, temporibus eligendi ab impedit velit ducimus aperiam!</p>
			</div>	
		</div>
	</div>
</div>


<%- include("partials/footer") %>