<%- include("partials/header") %>

<div id="firstquater">
	<div class="container">
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top">
			<a class="navbar-brand" id="hang" href="/">
				<div class="dadlogo"></div>
			</a>
			<button class="navbar-toggler" id="nohang" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<ul class="navbar-nav navbar-right">
						<li class="nav-item active">
							<a class="nav-link redbutton" id="homebutton" href="/">Home<span
									class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link redbutton" href="/about">About <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link redbutton" href="/products">Products <span
									class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link redbutton" href="/contact" id="spaceomit">Contact <span
									class="sr-only">(current)</span></a>
						</li>

					</ul>
				</form>
			</div>
		</nav>
		<div>
			<h1 id="konsapage">Home Page</h1>
		</div>



	</div>
	<img id="logo" src="https://raw.githubusercontent.com/meetgandhi-1/pvgchemical/master/public/images/1.png">

</div>


<div id="secondquater" class="div1">
	<div class="container">
		<div id="firstgrid" class="row align-items-center no-gutters">
			<div class="col-md-9">
				<div class="row align-items-center">
					<div class="col-md-5 gridspace">
						<h1 class="fadeinleft">Welcome</h1>
					</div>
					<div class="col-md-7 gridspace">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolores, delectus eligendi a
						necessitatibus in sint vitae suscipit nihil explicabo reprehenderit ad nobis voluptas tempora
						officiis neque distinctio dolore libero?
					</div>
				</div>
			</div>
			<div class="col-md-3 gridspace">
				<button type="button" class="btn btn-danger yolo">Read More</button>
			</div>
		</div>
		<div id="secondgrid" class="row align-items-center no-gutters">
			<div class="col-md-4 col-xs-8 gridspace">
				<img class="img1 fadeinleft"
					src="https://images.pond5.com/lab-worker-pours-chemicals-flask-footage-088378701_prevstill.jpeg">
			</div>
			<div class="col-md-8 col-xs-8 fadeinleft" id="lore">
				With our professional approach and association with well recognized vendors, we have achieved
				overwhelming success in the market. Further, our organization is located in Mumbai with advanced
				facilities and regularly availability of stock. Under the guidance of our Mentor, <strong>Mr. Vipul
					Gandhi</strong>, we have established a strong position in the market.
			</div>
		</div>
	</div>
</div>
<div id="thirdquater" class="div1">
	<div class="container">
		<div class="row align-items-left">
			<div class="col-md-4">
				<h3 class="allcaps">Product Categories</h3>
				<ul class="navbar-nav fadeinleft">
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Fragrances and
							Flavours</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals for API ,
							Formulation and speciality chemical IND.</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For
							Paints,Polymers,Resins and Dyestuff IND</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Food and
							Fertilizer IND</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Textile Auxilaries
							, Monomers and Adhesives</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Maintainace
							of Plant and Machines.</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Water Treatment
							IND</a></li>
				</ul>
			</div>
			<div class="col-md-4" id="spaceblank">
				<ul class="navbar-nav fadeinleft">
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Miscellaneous Chemicals</a>
					</li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For PVC and Rubber
							Ind.</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Essential OILS</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> General Imported and Indian
							Product List</a></li>
				</ul>
			</div>
			<div class="col-md-4 fadeinleft">
				<h3 id="linespacede" class="allcaps">About Us</h3>
				<h5 id="linespacede" class="allcaps">P.V.G Chemicals</h5>
				<img id="linespacede" class="img2"
					src="https://www.pcc-ltd.com/hs-fs/hubfs/Chemical%20Barrel%20Page/chemical-drum-labels-various.jpg?width=750&name=chemical-drum-labels-various.jpg">
				<p id="linespacede">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ab, eveniet in sit
					quia id accusamus vel commodi? Quisquam animi quo ad quaerat, temporibus eligendi ab impedit velit
					ducimus aperiam!</p>
			</div>
		</div>
	</div>
</div>


<%- include("partials/footer") %>