<%- include("partials/header") %>
<div id="firstquater"> 
<div class="container">
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/" ><i class="fab fa-angellist dadlogo"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	<li></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav navbar-right">
      	<li class="nav-item active">
        	<a class="nav-link redbutton" id="homebutton" href="/">Home<span class="sr-only">(current)</span></a>
      	</li>
      	<li class="nav-item active">
        	<a class="nav-link redbutton" href="/about">About <span class="sr-only">(current)</span></a>
      	</li>
      	<li class="nav-item active">
        	<a class="nav-link redbutton" href="/products">Products <span class="sr-only">(current)</span></a>
      	</li>
      	<li class="nav-item active">
        	<a class="nav-link redbutton" href="/contact" id="spaceomit">Contact <span class="sr-only">(current)</span></a>
      	</li>

      </ul>
    </form>
  </div>
</nav>
<h1 id="name1" class="naam">P.V.G Chemicals</h1>
<h4 id="name2" class="naam">Chemicals, Monomers and Speciality Chemical hub</h4>

</div>
</div>
<div id="secondquater" class="div1">
	<div class="container">
		<div id="firstgrid" class="row align-items-center no-gutters">
    		<div class="col-md-9">
    			<div class="row align-items-center">
 					<div class="col-md-5 gridspace">
 						<h1 id="div2">Welcome</h1>
 					</div>   	
 					<div class="col-md-7 gridspace div1">
 						Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady. Up greatest am exertion or marianne. Shy occasional terminated insensible and inhabiting gay. So know do fond to half on. Now who promise was justice new winding. In finished on he speaking suitable advanced if. Boy happiness sportsmen say prevailed offending concealed nor was provision. Provided so as doubtful on striking required. Waiting we to compass assured. 
 					</div>
    			</div>
    		</div>
    		<div class="col-md-3 gridspace">
      			<button type="button" class="btn btn-danger yolo">Read More</button>
    		</div>
  		</div>
  		<div id="secondgrid" class="row align-items-center no-gutters">
    		<div class="col-md-4 col-xs-8 gridspace">
    			<img class="img1" src="https://static.turbosquid.com/Preview/2017/01/09__19_06_03/001.jpg813446EB-77A9-4AD9-B762-76C233B38B17Original.jpg">
    		</div>
    		<div class="col-md-8 col-xs-8" id="lore">
    			With our professional approach and association with well recognized vendors, we have achieved overwhelming success in the market. Further, our organization is located in Mumbai with advanced facilities and regularly availability of stock. Under the guidance of our Mentor, <strong>Mr. Vipul Gandhi</strong>, we have established a strong position in the market.
    		</div>
  		</div>
	</div>
</div>
<div id="thirdquater" class="div1">
	<div class="container">
		<div class="row align-items-left">
			<div class="col-md-4">
				<h3 class="allcaps">Product Categories</h3>
				<ul class="navbar-nav">
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Fragrances and Flavours</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals for API , Formulation and speciality chemical IND.</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Paints,Polymers,Resins and Dyestuff IND</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Food and Fertilizer IND</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Textile Auxilaries , Monomers and Adhesives</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Maintainace of Plant and Machines.</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For Water Treatment IND</a></li>
				</ul>
			</div>
			<div class="col-md-4" id="spaceblank">
				<ul class="navbar-nav">
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Miscellaneous Chemicals</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> Chemicals For PVC and Rubber Ind.</a></li>
					<li class="linespace altt"><i class="fas fa-angle-right"></i><a href=""> Essential OILS</a></li>
					<li class="linespace"><i class="fas fa-angle-right"></i><a href=""> General Imported and Indian Product List</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3 id="linespacede" class="allcaps">About Us</h3>
				<h5 id="linespacede" class="allcaps">P.V.G Chemicals</h5>
				<img id="linespacede" class="img2" src="https://static.turbosquid.com/Preview/2017/01/09__19_06_03/001.jpg813446EB-77A9-4AD9-B762-76C233B38B17Original.jpg">
				<p id="linespacede">Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady. Up greatest am exertion or marianne. Shy occasional terminated insensible and inhabiting gay. So know do fond to half on. Now who promise was justice new winding. In finished on he speaking suitable advanced if. Boy happiness sportsmen say prevailed offending concealed nor was provision. Provided so as doubtful on striking required. Waiting we to compass assured.</p>
			</div>	
		</div>
	</div>
</div>


<%- include("partials/footer") %>